<html DOCTYPE="UTF-8">
    <head>

        <link rel="stylesheet" href="css/index.css">

    </head>

    <body>
        
        <div class="workspace-container">

            <header class="side-panel full-h">

                <div class="menu-header">div</h2>

            </header>

            <div class="file-browser full-h">

                <div class="browser-wrapper">
                    <div class="browser-header">Browse</div>
                </div>
                

                <div class="file-list">

                    <div id="add-note" class="add-note">
                        <span>New Note</span>
                    </div>

                    <div class="notes-list">
                        <div class="browser-file-item">
                            <span class="note-name">Random Notes</span>
                            <span class="node-id" hidden>123</span> 
                        </div>
    
                        <div class="browser-file-item">
                            <span class="note-name">Work</span> 
                            <span class="node-id" hidden>456</span> 
                        </div>
    
                        <div class="browser-file-item">
                            <span class="note-name">Blog Ideas</span> 
                            <span class="node-id" hidden>789</span> 
                        </div>
                    </div>

                    

                </div>

            </div>

            <div class="notes-wrapper full-h">

                <div id="toolbar">
                    <button id="boldBtn">Bold</button>
                    <button id="italicBtn">Italic</button>
                    <!-- Add more buttons for more features -->
                </div>

                <div id=editor contenteditable="true">
                    <p>Wherever your fingers take you...</p>
                </div>

            </div>

        </div>
    </body>

    <footer>
        <script src="js/notes.js"></script>
    </footer>
</html>