<html DOCTYPE="UTF-8">
    <head>

        <link rel="stylesheet" href="css/index.css">

    </head>

    <body>
        
        <div class="workspace-container">

            <header class="side-panel full-h">

                <div class="menu-header">div</h2>

            </header>

            <div class="file-browser full-h">

                <div class="browser-wrapper">
                    <div class="browser-header">Browse</div>
                </div>
                

                <div class="file-list">

                    <div class="browser-file-item">
                        <div>Random Notes</div>
                    </div>

                    <div class="browser-file-item">
                        <div>Work</div>
                    </div>

                    <div class="browser-file-item">
                        <div>Blog ideas</div>
                    </div>

                </div>

            </div>

            <div class="notes-wrapper full-h">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate voluptatem, labore beatae soluta exercitationem odio impedit quos corporis, quibusdam corrupti accusantium sapiente fuga error fugiat? Doloribus fuga alias totam facilis.</p>

            </div>

        </div>


    </body>
</html>