{{ define "index" }}
<html DOCTYPE="UTF-8">
    <head>

        <link rel="stylesheet" href="css/index.css">

    </head>

    <body>
        
        <div class="workspace-container">

            <header class="side-panel full-h">

                <div class="menu-header">div</h2>

            </header>

            <div class="file-browser full-h">

                <div class="browser-wrapper">
                    <div class="browser-header">Browse</div>
                </div>
                

                <div class="file-list">

                    <div id="add-note" class="add-note">
                        <span>New Note</span>
                    </div>

                    <div class="notes-list">

                        {{ range .AllNotes }}
                            <a href="{{.Id}}">
                                <div class="browser-file-item">
                                    <span class="note-name">{{.Title}}</span>
                                    <div onclick="deleteNote()"><img src="img/trash-24.png" alt="delete note"></div>
                                    <span class="note-id" hidden>{{.Id}}</span>
                                </div>
                            </a>
                        {{ end }}

                    </div>

                </div>

            </div>

            <div class="notes-wrapper full-h">

                <div id="toolbar">
                    <button id="boldBtn">Bold</button>
                    <button id="italicBtn">Italic</button>
                    <!-- Add more buttons for more features -->
                </div>

                <div id=editor contenteditable="true">
                    {{ if eq .SelectedNote "" }}
                        <p>Wherever your fingers take you...</p>
                    {{ else }}
                        {{ .SelectedNote }}
                    {{ end }}
                </div>

            </div>

        </div>
    </body>

    <footer>
        <script src="js/notes.js"></script>
    </footer>
</html>
{{ end }}